.createTaskInput {
  width: 400px;
  border-radius: 4px;
  font-size: 38px;
  transition: border ease .2s;
  border: rgb(133, 206, 205) 2px solid;
}

.createTaskInput:hover {
  border: rgb(183, 220, 219) 2px solid;
}

.createTaskInput:focus {
  outline: rgb(49, 148, 147) 2px solid;
}